div.image-frame {
  padding: 10px;
}

.float-left {
  float: left;
  margin-left: 1em;
}

.caption {
  font-size: 12pt;
}

.slide {
}

body {
  text-align: center;
}

strong {
  white-space: nowrap;
}

.slide {
  font-family: 'Josefin Slab', serif;
}

.step {
  font-family: 'Raleway', serif;
  font-weight: 200;
}

.small {
  font-size: 18pt;
}

.opaque {
    opacity: 1 !important;
}

.huge {
  font-size: 100pt;
}

.gigantic {
  font-size: 180pt;
}

.left {
  text-align: left;
}

iframe.full {
  height: 100%;
  width: 100%;
}

img.full {
  height: 100%;
  max-width: 100%;
}

iframe.with-heading {
  height: 75%;
  width: 100%;
}

img.with-heading {
  height: 75%;
  max-width: 100%;
}

code {
  font-family: 'Josefin Slab', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  margin-bottom: 5%
}

p {
  margin-bottom: 5%
}

h1 {
  font-size: 225%;
  line-height: 100%;
}

h2 {
  font-size: 200%;
  line-height: 100%;
}

h3 {
  font-size: 175%;
  line-height: 100%;
}

h4 {
  font-size: 150%;
  line-height: 100%;
}

h5 {
  font-size: 125%;
  line-height: 100%;
}

h6 {
  line-height: 100%;
}
