div.image-frame {
  padding: 10px;
}

.column-left {
    float: left;
    width: 50%;
}
.column-right {
    float: right;
    width: 50%;
}

.float-left {
  float: left;
  margin-left: 1em;
}

.caption {
  font-size: 12pt;
}

.slide {
}

body {
  text-align: center;
  background: #f0f0f0; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #f0f0f0 0%, #bebebe 31%, #12547a 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f0f0f0), color-stop(31%,#bebebe), color-stop(100%,#12547a)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #f0f0f0 0%,#bebebe 31%,#12547a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #f0f0f0 0%,#bebebe 31%,#12547a 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #f0f0f0 0%,#bebebe 31%,#12547a 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, #f0f0f0 0%,#bebebe 31%,#12547a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#12547a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

strong {
  white-space: nowrap;
}

.slide {
  font-family: 'Josefin Slab', serif;
}

.step {
  font-family: 'Raleway', serif;
  font-weight: 200;
}

.small {
  font-size: 18pt;
}

.opaque {
    opacity: 1 !important;
}

.huge {
  font-size: 100pt;
}

.gigantic {
  font-size: 180pt;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

iframe.full {
  height: 100%;
  width: 100%;
}

img.full {
  height: 100%;
  max-width: 100%;
}

iframe.with-heading {
  height: 75%;
  width: 100%;
}

img.with-heading {
  height: 75%;
  max-width: 100%;
}

code {
  font-family: 'Josefin Slab', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  margin-bottom: 5%
}

p {
  margin-bottom: 5%
}

h1 {
  font-size: 225%;
  line-height: 100%;
}

h2 {
  font-size: 200%;
  line-height: 100%;
}

h3 {
  font-size: 175%;
  line-height: 100%;
}

h4 {
  font-size: 150%;
  line-height: 100%;
}

h5 {
  font-size: 125%;
  line-height: 100%;
}

h6 {
  line-height: 100%;
}

/* column container */
.colmask {
    clear: both;
    float: left;
    width: 100%;			/* width of whole page */
    overflow: hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
    float: left;
    width: 100%;
    position: relative;
}
.col1,
.col2,
.col3 {
    float: left;
    position: relative;
    padding: 0 0 1em 0;
    overflow: hidden;
}
/* 2 Column (double page) settings */
.doublepage {
}
.doublepage .colleft {
    right:50%;			/* right column width */
 }
.doublepage .col1 {
    width:46%;			/* left column content width (column width minus left and right padding) */
    left:52%;			/* right column width plus left column left padding */
}
.doublepage .col2 {
    width:46%;			/* right column content width (column width minus left and right padding) */
    left:56%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
}
